<!-- <%= APP_CONFIG[:site][:site_name] %>  -->
<!-- Powered by Rails Launching Soon -->
<!-- http://github.com/deanperry/Rails-Launching-Soon -->

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title><%= APP_CONFIG[:site][:site_name] %></title>
	<%= stylesheet_link_tag APP_CONFIG[:css_file] %>
	<%= javascript_include_tag 'application' %>
	
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
		<%= stylesheet_link_tag 'iesucks' %>
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js">var IE7_PNG_SUFFIX = ".png";</script>
	<![endif]-->

</head>

<body>
	
<div id="root">
	<div id="under-construction">
		<h1><%= APP_CONFIG[:site][:header] %></h1>
		<h2><%= APP_CONFIG[:site][:tagline] %></h2>
	</div>
	<div id="countdown"></div>
	<div id="slider">
		
		<div id="imgcontainer">
			<%= image_tag APP_CONFIG[:slider_image1], :alt => "", :title => "", :class => "sliderimg" %>
			<%= image_tag APP_CONFIG[:slider_image2], :alt => "", :title => "", :class => "sliderimg" %>
			<%= image_tag APP_CONFIG[:slider_image3], :alt => "", :title => "", :class => "sliderimg" %>
		</div>
		
		<% if APP_CONFIG[:mail_chimp] %>
		    <p>123</p>
		    <p>lala</p>
		<% end %>
		
		<% if APP_CONFIG[:campaign_monitor] %>
		    <p>456</p>
		    <p>nono</p>
		<% end %>
		
		<div id="slider-bottom">
			<% if APP_CONFIG[:launch_progress] %>
				<div id="progress-text1">Current Progress:</div>
				<div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="56">
					<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: <%= APP_CONFIG[:launch_progress] %>%; "><%= APP_CONFIG[:launch_progress] %>%</div>
				</div>
			<% end %>
			<div id="social">
				<div id="social-links">
					<div class="social-link">
						<a href="http://twitter.com/<%= APP_CONFIG[:site][:twitter] %>" title="Follow me on Twitter!"><img src="assets/twitter.png" alt="Twitter" width="25" /></a>
						<img src="assets/twitter_grey.png" alt="Twitter" width="25" class="greyscale-img" />
					</div>
					<div class="social-link">
						<a href="http://facebook.com/<%= APP_CONFIG[:site][:facebook] %>" title="Watch out on Facebook!"><img src="assets/facebook.png" alt="Facebook" width="25" /></a>
						<img src="assets/facebook_grey.png" alt="Facebook" width="25" class="greyscale-img" />
					</div>
					<div class="social-link">
						<a href="skype://<%= APP_CONFIG[:site][:skype] %>" title="Let's talk on Skype!"><img src="assets/skype.png" alt="Skype" width="25" /></a>
						<img src="assets/skype_grey.png" alt="Skype" width="25" class="greyscale-img" />
					</div>
					<div class="clear"></div>
				</div>
				<span id="social-text">
					Write me a <%= link_to 'mail', APP_CONFIG[:site][:email] %> or be Social!&nbsp;&nbsp;
				</span>
			</div>
		</div>
	</div>
	
	<div id="shadow"></div>
</div>	


</body>
</html>